* {
  margin: 0px;
  padding: 0px;
  box-sizing: borderbox;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container1 {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
header {
  color: white;
  font-size: 50px;
  /* margin: 15px; */
}
.results {
  color: white;
  font-size: 40px;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.fullbox {
  width: 470px;
  height: 470px;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-gap: 10px;
  background-color: white;
}
.box {
  width: 150px;
  height: 150px;
  background-color: black;
  font-size: 140px;
  color: white;
  font: playwrite-hu;
  text-align: center;
}
.resetbtn {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
#reset {
  height: 50px;
  width: 120px;
  border-radius: 20px;
  background-color: black;
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 5px;
  border: white solid 2px;
}
#reset:hover {
  color: black;
  background-color: white;
}
.container2 {
  width: 630px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  color: white;
}
.player1_score,
.player2_score,
.tie_score {
  width: 222px;
  height: 60px;
  font-size: 30px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tie_score {
  width: 100px;
  color: rgba(255, 255, 255, 0.474);
}
.score {
  width: 100%;
  height: 100px;
  text-align: center;
}
.turnfinder {
  color: rgba(255, 255, 255, 0.474);
}
.innertext {
  font: inherit;
  color: white;
}
